<tr>
	<td class="file-table-cell"><%= folder.name %></td>
	<td class="file-table-cell"><%= folder.createdAt.toLocaleString("en-GB", { timeZone: "UTC" })  %></td>
	<td class="file-table-cell"><%= folder.id %></td>
</tr>
