@import "reset.css";

:root {
	/* Neutrals & Backgrounds */
	--bg-main: oklch(98% 0.01 200);
	--bg-surface: oklch(95% 0.01 200); /* Slightly darker for cards/sections */
	--text-main: oklch(25% 0.01 200);

	/* Primary: A soft, muted Sage Green */
	--primary: oklch(75% 0.05 150);
	--primary-hover: oklch(70% 0.06 150);
	--primary-active: oklch(65% 0.07 150);

	/* Secondary: A dusty Terracotta/Rose */
	--secondary: oklch(75% 0.05 30);
	--secondary-hover: oklch(70% 0.06 30);
	--secondary-active: oklch(65% 0.07 30);

	/* Border/Accent */
	--border-soft: oklch(90% 0.02 200);

	/* Spacing */
	--spacing-xs: 0.25rem;
	--spacing-sm: 0.5rem;
	--spacing-md: 1rem;
	--spacing-lg: 1.5rem;
	--spacing-xl: 2rem;
	--spacing-xxl: 3rem;

	/* Shadow */
	--shadow:
		rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

body {
	background-color: var(--bg-main);
	margin: 0;
	color: var(--text-main);
	font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
form {
	margin: 0;
}

ul {
	padding-left: var(--spacing-sm);
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: inherit;
}

/* Utilities  */

.justify-self-center {
	justify-self: center;
}

.content-container {
	max-width: 1200px;
	margin-inline: auto;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Components */

.header {
	background-color: var(--primary);
	padding: var(--spacing-md) 0 var(--spacing-md) 0;
}

.form-container {
	background-color: var(--bg-surface);
	border: solid var(--secondary);
	border-radius: var(--spacing-xs);
	margin-inline: auto;
	padding: var(--spacing-xl) var(--spacing-md);
	box-shadow: var(--shadow);
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	gap: var(--spacing-sm);
}

.form-container > form {
	display: grid;
	gap: var(--spacing-md);
}

.form-container > form > label {
	display: grid;
	justify-items: center;
}

.error-container {
	background-color: var(--secondary);
	border: solid 1px var(--primary);
	border-radius: var(--spacing-xs);
	padding: var(--spacing-md);
}

.file-container {
	background-color: var(--bg-surface);
	border: solid var(--secondary);
	border-radius: var(--spacing-xs);
	box-shadow: var(--shadow);
	padding: var(--spacing-xl) var(--spacing-md);
}

.layout-container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: var(--spacing-md);
	margin: var(--spacing-lg) 0 0 0;
}

.file-table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.file-table > thead > tr {
	border-bottom: 2px solid var(--primary-active);
}

.file-table > tbody {
	text-align: center;
}

.file-table-cell {
	padding: var(--spacing-md);
}
